{% extends 'app_main/base.html' %}

{% block intro %}
    {% load static %}

    <section id="about" class="wrapper style2 spotlights">
        <section>
            <a href="https://github.com/CodeCraftSerg" class="image" target="_blank" rel="nofollow noopener noreferrer">
                <img src="{% static 'app_main/img_team/Serhii.jpg' %}" alt="Serhii" data-position="center center"/>
            </a>
            <div class="content">
                <div class="inner">
                    <h2>Serhii</h2>
                    <p>
                        <b>Team Lead of the project.</b>
                        <br>
                        Developed a web interface for an image recognition application and designed the architecture of
                        a convolutional neural network based on the DenseNet121 model. Also served as the owner of the
                        project repository.
                    </p>
                    <ul class="actions">
                        <li>
                            <a href="https://github.com/CodeCraftSerg" class="button" target="_blank"
                               rel="nofollow noopener noreferrer">
                                GitHub
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <a href="https://github.com/HelgaTsar" class="image" target="_blank" rel="nofollow noopener noreferrer">
                <img src="{% static 'app_main/img_team/Olha.jpg' %}" alt="Olha" data-position="top center"/>
            </a>
            <div class="content">
                <div class="inner">
                    <h2>Olha</h2>
                    <p>
                        <b>Scrum Master of the project.</b>
                        <br>
                        Organized team meetings and maintained a work board in Trello. Designed the architecture of a
                        convolutional neural network based on the ResNet50 model and prepared the project's README.md
                        file.
                    </p>
                    <ul class="actions">
                        <li>
                            <a href="https://github.com/HelgaTsar" class="button" target="_blank"
                               rel="nofollow noopener noreferrer">
                                GitHub
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <a href="https://github.com/ShuguruiUA" class="image" target="_blank" rel="nofollow noopener noreferrer">
                <img src="{% static 'app_main/img_team/Iurii.jpg' %}" alt="Iurii" data-position="25% 25%"/>
            </a>
            <div class="content">
                <div class="inner">
                    <h2>Iurii</h2>
                    <p>
                        <b>Project developer.</b>
                        <br>
                        Developed the architecture of the Inception convolutional neural network, achieving high
                        accuracy rates during training. This model was selected as the project's primary working model.
                    </p>
                    <ul class="actions">
                        <li>
                            <a href="https://github.com/ShuguruiUA" class="button" target="_blank"
                               rel="nofollow noopener noreferrer">
                                GitHub
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <a href="https://github.com/Krisiris250592" class="image" target="_blank"
               rel="nofollow noopener noreferrer">
                <img src="{% static 'app_main/img_team/Kris.jpg' %}" alt="Kris" data-position="center center"/>
            </a>
            <div class="content">
                <div class="inner">
                    <h2>Kris</h2>
                    <p>
                        <b>Project developer.</b>
                        <br>
                        Designed the architectures of the Xception and VGG16 convolutional neural networks and prepared
                        a comprehensive project presentation.
                    </p>
                    <ul class="actions">
                        <li>
                            <a href="https://github.com/Krisiris250592" class="button" target="_blank"
                               rel="nofollow noopener noreferrer">
                                GitHub
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <a href="https://github.com/xrendezvous" class="image" target="_blank" rel="nofollow noopener noreferrer">
                <img src="{% static 'app_main/img_team/Aryna.jpg' %}" alt="Aryna" data-position="top center"/>
            </a>
            <div class="content">
                <div class="inner">
                    <h2>Aryna</h2>
                    <p>
                        <b>Project developer.</b>
                        <br>
                        Created the architecture of a convolutional multilayer neural network. Developed Dockerfile and
                        docker-compose files and uploaded the project image to Docker Hub.
                    </p>
                    <ul class="actions">
                        <li>
                            <a href="https://github.com/xrendezvous" class="button" target="_blank"
                               rel="nofollow noopener noreferrer">
                                GitHub
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </section>

{% endblock %}